# Dependencias
node_modules/

# Compilados
dist/
build/

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Sistema / editor
.DS_Store
Thumbs.db

# Cobertura de tests
coverage/
